---

---

<button
	class="bg-gradient-to-r from-lime-green to-bright-cyan w-32 p-2.5 text-white cursor-pointer hover:opacity-80 ease-in-out transition-all rounded-4xl text-sm"
>
	Request Invite
</button>
