---
import Section from "@layouts/Section.astro";
import Paragraph from "@components/Paragraph.astro";
import HeadingTwo from "@components/HeadingTwo.astro";
import Benefits from "@components/Benefits.astro";
---

<main>
	<Section
		additionalClass="bg-light-grayish-blue py-20 max-sm:items-center max-sm:text-center"
	>
		<HeadingTwo content="Why choose EasyBank?" />
		<Paragraph
			content="We leverage Open Banking to turn your bank account into your financial hub. Control your finances like never before."
		/>
		<Benefits />
	</Section>
</main>
