---
import Section from "@layouts/Section.astro";
import Paragraph from "@components/Paragraph.astro";
import RequestButton from "@components/RequestButton.astro";
---

<main>
	<Section
		additionalClass="flex items-center mt-16 bg-very-light-gray"
		isFirstPage="true"
	>
		<div
			class="w-1/3 flex gap-5 flex-col max-sm:w-full max-sm:items-center max-sm:text-center"
		>
			<h1 class="text-5xl text-dark-blue font-normal">
				Next generation <br /> digital banking
			</h1>
			<Paragraph
				content="Take your financial life online. Your EasyBank account will be a one-stop-shop for spending, saving, bugeting, investing, and much more."
			/>
			<RequestButton />
		</div>
	</Section>
</main>
